
/* Device media queries */
tablet = "(min-width: 768px) and (max-width: 979px)"
phone = "(max-width: 767px)"

#content
	margin-top 1.5rem

h1
	font-size 48px
	line-height 115%
	margin 1.5rem 0
	font-family $le-june
	@media phone
		font-size 30px
		margin 0.5rem 0

.opening
	height 100vh
	position relative
	display flex
	color $white
	background-color $black
	&__text__container
		margin auto
		display grid
		align-items center
		max-width 45%
		@media phone
			max-width 90%
		p
			font-size 15px
			line-height 130%
			font-family $sans
			margin-top 0
			margin-bottom 0.5rem
			@media phone
				font-size 14px
				line-height 120%
		.sound-on-text p
			font-size 15px
			font-family $sans
			border 1px solid $white
			border-radius 10px
			padding 0.2rem 0.5rem
			line-height 115%
			@media phone
				font-size 14px
				padding 0.3rem 0.1rem
		&__text, .sound-on-text 
			max-width 85%
			@media phone
				max-width 90%
		&__text
			margin-top 1rem
			margin-bottom 1rem
button
	max-width 25%
	margin 2rem 0 10px
	background-color $white
	color $black
	padding 0.3rem 0
	text-align center
	font-size 28px
	font-weight 600
	box-shadow 1px 1px 2px $white
	font-family $sans
	border-radius 5px
	@media phone
		max-width 40%
		font-size 18px
		margin-top .5rem 
	&:hover
		background-color rgba(0,0,0,0)
		color $white

.opening__video__container
	display none
	&__video
		// position absolute
		// top 50%
		// left 50%
		width auto
		height 100%
		vertical-align middle
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		z-index 0
		bottom 0
	#skip-button
		background-color rgba(0,0,0,0)
		color $white
		padding 0.3rem 1rem
		position absolute
		top 10%
		left 10%
		transform translate(-50%, -50%)	
		@media phone
			top 75%
			left 50%
			width 50%
			font-size 20px
	position relative
	background $black
	overflow hidden
	text-align center
	height 100vh
	width 100vw
