/* CUSTOM STORY STYLE */
.main-column-width 
    width $column-width
    margin 0 auto

.overview, .murray
    article 
        margin 4em 0
    &__img
        margin 0 auto
        width $column-width