/* CUSTOM STORY STYLE */

$pink = #E8356D

.main-column-width 
    width $column-width
    margin 3em auto

h2
    font-family $ft-grotzec
    font-size xx-large
    line-height 110%

/* chart */
h3
    font-family $ft-grotzec
h5 
    line-height 120%
    font-weight 400
    // font-style italic

.axis path, .axis line
    stroke #5F5F5F
.axis text 
    fill #5F5F5F

.y-axis
    .domain
            stroke none
    line
        stroke-width 2
    .tick
        text 
            text-anchor middle
            font-size 12px

.tooltip
    position absolute
    top 0
    left 0
    background-color $white
    padding 0.2rem
    opacity 0
    visibility hidden
    border 3px solid $black
    margin 0 auto
    pointer-events none

// .mouse-over-line
//     stroke #5F5F5F
//     stroke-width 2
//     opacity 0

.mouse-over-circle
    stroke #5F5F5F
    stroke-width 2
    fill none
    opacity 0

/* */

article 
        margin 1.5em 0

.overview, .murray
    &__img
        margin 0 auto
        width $column-width


.hopecovid
    &__bars
        &__container
            margin 2rem 0
            p
                margin 0
                font-size small
                line-height 130%
            &__bar
                position relative
                height 2rem
                background-color #e6e6e6
                margin 1.6rem 0 0.5rem
                width 100%
                box-shadow inset 0 -1px 1px rgba(255, 255, 255, 0.3)
                // border-radius 5px
                p.reader
                    position absolute
                    top -60%
                    transform translateX(-50%)
                    width fit-content
                    left 50%
                span 
                    overflow hidden
                span.bar
                    position relative
                    display block
                    height 100%
                    cursor pointer
                span.tick
                    top 0
                    left 50%
                    position absolute
                    background-color $black
                    width 0.8%
                    height 120%
                    opacity 1
                    transform translateY(-5%)
                    cursor pointer

    .progess-animation-nervous
        animation progressNervous 1s ease-in-out
        animation-fill-mode both

    .progess-animation-talk
        animation progressTalk 1s ease-in-out
        animation-fill-mode both

    @keyframes progressNervous
        0% 
            width 0
            background-color $pink
        
        100% 
            width 50%
            background-color $pink

    @keyframes progressTalk
        0% 
            width 0
            background-color $pink
        
        100% 
            width 87%
            background-color $pink
        

#reddit
    margin-bottom 5em
    h2
        margin 0 auto 1rem
        width $column-width
    .reddit__container
        width 80%
        margin 0 auto
        position relative
        display flex
        justify-content center
        @media phone
                display block
    .scroll__graphic
        height 60vh
        position sticky
        position -webkit-sticky
        top 10rem
        align-self start
        width 55%
        @media phone
            top 12rem
    .scroll__text
        position relative
        max-width 35%
    .step 
        height 100vh
        p
            background-color rgba(255,255,255,1)    
            padding 1rem 
            // box-shadow 2px 2px 3px rgba(0,0,0,0.5)
            border 3px solid $black
    .step:first-of-type
        margin-top 10rem
    .tooltip
        h4 
                text-align center
        .text
            .text-container
                display flex
                justify-content center
                div
                    width 30%
                    p
                        margin 0
                        font-size 14px
                        line-height 110%
                        text-align center
                div:first-of-type
                    margin-right 3rem
        .chart
            .bars
                padding 0.5rem 0
                width 15rem
                margin 0 auto
                display grid
                .bar-group
                    display flex
                    align-items center
                    justify-content space-between
                    div
                        font-size 12px
                        width 50%
                        .bar
                            height 0.5rem
                            background-color $black
                            display inline-block
                    div:first-of-type
                        margin-right 1rem
                        width 40%
                        text-align right
                    

#less-baby
    .birth-rates-chart
        height 60vh
        .y-axis .tick text 
            text-anchor initial
            font-size 10px
            transform translateY(-10px)
        .label
            font-size 14px
            transform translate(-15px, -20px)
            fill $pink
            font-weight bold

