/* CUSTOM STORY STYLE */

$pink = #E8356D
$yellow = #EDB95A

/* Device media queries */
tablet = "(min-width: 768px) and (max-width: 979px)"
phone = "(max-width: 767px)"

.main-column-width 
    width $column-width
    @media phone 
        width $phone-column-width
    margin 3em auto

figure
    margin 3em 0

p.credit
    margin 0
    font-size 14px
    line-height 120%
    @media phone
        font-size 12px
    font-family $sans
    color $gray

h2
    font-family $ft-grotzec
    font-size 30px
    line-height 110%
    @media phone 
        font-size x-large

/* chart */
h3
    font-size 24px
    @media phone 
        font-size 20px
    font-family $ft-grotzec
    line-height 1.2
h5 
    line-height 120%
    font-weight 400
    // font-style italic

.axis path, .axis line
    stroke #5F5F5F
.axis text 
    fill #5F5F5F

.y-axis
    .domain
            stroke none
    line
        stroke-width 2
    .tick
        text 
            text-anchor middle
            font-size 12px

.tooltip
    position absolute
    top 0
    left 0
    background-color $white
    padding 0.2rem
    opacity 0
    display none
    border 3px solid $black
    margin 0 auto
    pointer-events none

.mouse-over-circle
    stroke #5F5F5F
    stroke-width 2
    fill none
    opacity 0

/* */

      
.overview
    height 100vh
    width 100%
    display none
    font-family $le-june
    margin 0 auto
    align-items center
    justify-content space-around
    color $white
    @media phone
        flex-direction column
        justify-content center
    div 
        opacity 0
        animation-fill-mode forwards, forwards
        cursor pointer
        text-align center
        @media phone
            padding 1rem 0
        span 
            font-size 18px
            @media phone
                font-size 14px
        p
            margin 0
            font-size 40px
            @media phone
                font-size 35px
        &:hover 
            color $pink
    div:nth-child(1) 
        animation-name FadeIn, Enlarge, FadeOut
        animation-fill-mode forwards, forwards, forwards 
        @media phone
            animation-name FadeIn, EnlargeMobile, FadeOut 
        animation-duration 2s, 4s, 1s
        animation-delay .5s, 3s, 7s
    div:nth-child(2) 
        animation-name FadeIn, FadeOut
        animation-duration 2s, 1s
        animation-delay 1s, 3s
    div:nth-child(3) 
        animation-name FadeIn, FadeOut
        animation-duration 2s, 1s
        animation-delay 1.5s, 3s
    div:nth-child(4) 
        animation-name FadeIn, FadeOut
        animation-duration 2s, 1s
        animation-delay 2s, 3s
        
@keyframes FadeIn
  0% 
    opacity 0.1
  100%  
    opacity 1

@keyframes Enlarge
  0%
    transform scale(1)
  100%  
    transform translateX(calc(45vw - 50%)) scale(2)

@keyframes EnlargeMobile
  0%
    transform scale(1)
  100%  
    transform scale(1.5)

@keyframes FadeOut 
  0% 
    opacity 1
  100%  
    opacity 0

/* */


article 
        margin 1.5em 0

.tab
    &__header
        .cover-photo
            height 80vh
            width 100%
            background-repeat repeat
            background-size contain
            background-position center
    &__content
        position relative
        display flex
        @media phone
            display grid
        .tab-button-container
            position sticky
            top 3em
            left 0
            display grid
            justify-content start
            margin 3em 0
            height fit-content
            @media phone
                display flex
                margin-bottom 1em
                justify-content space-evenly
                background-color $white
                top 0
                z-index 10000
            button 
                max-width 10%
                margin-left 1.5rem
                border-radius 0
                border-bottom 1px solid 
                font-family $le-june
                @media phone
                    font-size 18px
                    margin-top 0
                    margin-left 0
                    max-width fit-content
                &:hover
                    color $pink

#infection
    .cover-photo
        background-image url('assets/images/ultrasound-illustration.png')
    .infection-button
        color $pink
#isolation
    .cover-photo
        background-image url('assets/images/belly-cover-photo.jpg')
    .isolation-button
        color $pink
#insecurity
    .cover-photo
        background-image url('assets/images/empty-playground.jpg')
    .insecurity-button
        color $pink
#inequality
    .cover-photo
        background-image url('assets/images/empty-playground.jpg')
    .inequality-button
        color $pink
  
.murray
    &__img
        margin 0 auto
        width $column-width
        @media phone
            width $phone-column-width

.hopecovid
    &__bars
        &__container
            margin 2rem 0
            p
                margin 0
                font-size small
                line-height 130%
            &__bar
                position relative
                height 2rem
                background-color #e6e6e6
                margin 1.6rem 0 0.5rem
                width 100%
                box-shadow inset 0 -1px 1px rgba(255, 255, 255, 0.3)
                // border-radius 5px
                p.reader
                    position absolute
                    top -60%
                    transform translateX(-50%)
                    width fit-content
                    left 50%
                span 
                    overflow hidden
                    &.bar
                        position relative
                        display block
                        height 100%
                        cursor pointer
                    &.tick
                        top 0
                        left 50%
                        position absolute
                        background-color #5d5a5a
                        width 0.8%
                        height 120%
                        opacity 1
                        transform translateY(-5%)
                        cursor pointer
                        border 1px solid transparent
                        -webkit-transition border 0.1s linear, box-shadow 0.1s linear
                        -moz-transition border 0.1s linear, box-shadow 0.1s linear
                        transition border 0.1s linear, box-shadow 0.1s linear
                    &.active
                        border-color #5d5a5a
                        -webkit-box-shadow 0 0 5px  #5d5a5a
                        -moz-box-shadow 0 0 5px  #5d5a5a
                        box-shadow 0 0 5px  #5d5a5a


    .progess-animation-nervous
        animation progressNervous 1s ease-in-out
        animation-fill-mode both

    .progess-animation-talk
        animation progressTalk 1s ease-in-out
        animation-fill-mode both

    @keyframes progressNervous
        0% 
            width 0
            background-color $pink
        
        100% 
            width 50%
            background-color $pink

    @keyframes progressTalk
        0% 
            width 0
            background-color $pink
        
        100% 
            width 87%
            background-color $pink
        

#reddit
    margin-bottom 5em
    h2
        margin 0 auto 1rem
        width $column-width
        @media phone
            width $phone-column-width
    .reddit__container
        width 80%
        margin 0 auto
        position relative
        display flex
        justify-content center
        @media phone
                flex-direction column-reverse
    .scroll__graphic
        // overflow hidden
        position sticky
        position -webkit-sticky
        top 8em
        align-self start
        width 60%
        @media phone
            top 5rem
            width 100%
        .explain
            font-family $sans
            font-size 15px
            color #5f5f5f
            line-height 130%
        .y-label
            font-size 12px
            text-anchor end
            font-family $sans
            font-weight bold
            
    .scroll__text
        position relative
        margin auto
        max-width 30%
        z-index 1000
        @media phone
            max-width 80%
    .step 
        height 100vh
        p
            background-color rgba(255,255,255,1)    
            padding 1rem 
            // box-shadow 2px 2px 3px rgba(0,0,0,0.5)
            border 3px solid $black
    .step:first-of-type
        margin-top 10rem
    .tooltip
        h4 
            text-align center
            margin 1rem 0 0
        .text
            h4
                font-size 14px
            .text-container
                display flex
                justify-content center
                font-family $sans
                div
                    width 30%
                    p
                        margin 0
                        font-size 10px
                        line-height 110%
                        text-align center
                    p:first-of-type
                        font-size 15px
                div:first-of-type
                    margin-right 3rem
                    @media phone
                        margin-right 1rem
        .chart
            h4
                font-size 14px
            .bars
                padding 0.5rem 0
                width 12rem
                @media phone
                    width 8rem
                margin 0 auto
                display grid
                font-family $sans
                .bar-group:first-of-type
                    div
                        padding-top 1px
                    div:last-of-type
                        border-top 1px solid $gray
                .bar-group
                    display flex
                    align-items center
                    justify-content space-between
                    .barDiv0
                        position relative
                        .scale-0
                            position absolute
                            left 0
                            top -12px
                        .scale-25
                            position absolute
                            right 0
                            top -12px
                    div
                        font-size 10px
                        width 50%
                        .bar
                            height 0.5rem
                            background-color $black
                            display inline-block
                    div:first-of-type
                        margin-right 1rem
                        width 50%
                        text-align right
                        @media phone
                            margin-right 0
                            width 100%
                            text-align left
                    

#less-baby
    margin-bottom 1em
    .birth-rates-chart
        height 60vh
        width 100%
        margin 3em auto 0
        @media phone 
            height 50vh
        .line-2019
            stroke $black
        .line-2020
            stroke $pink
        .legend
            font-weight bold
        .legend-2019-line
            stroke $black
            stroke-width 2
        .legend-2020-line
            stroke $pink
            stroke-width 2
        .legend-2019
            fill $black
            font-family $sans
            font-size 14px
            @media phone 
                font-size 12px
        .legend-2020
            fill $pink
            font-family $sans
            font-size 14px
            @media phone 
                font-size 12px
        .y-axis .tick text 
            text-anchor initial
            font-size 10px
            transform translateY(-10px)
            @media phone 
                font-size 8px
        .label
            font-size 14px
            transform translate(-20px, -20px)
            // fill $pink
            font-weight bold
            font-family $sans
            @media phone 
                font-size 10px
                font-weight regular
    .disparity-bar-charts
        height 45vh
        width 100%
        margin 0 auto
        @media phone 
            height 35vh
        .x-axis, .y-axis
            .tick line
                opacity 0
            .tick text
                @media phone
                    font-size 8px
.olive-racism
    position relative
    margin-top 1em
    figure
        margin 0 0 0.5rem 1rem
        width 45%
        float right
        @media phone
            margin 0 0 0rem 1rem
            width 55%
    .paper
        position relative
        height 45vh
        @media phone
            height 50vh
        width 100%
        background rgba(255,255,255,0.9)
        // margin -275px -225px
        // left 50%
        // top 50%
        box-shadow 0px 0px 5px 0px #888
        &::before
            content ''
            position absolute
            left 45px
            height 100%
            width 2px
            background rgba(255,0,0,0.4)
        // .lines 
        //     margin-top: 40px
        //     height calc(100% - 40px)
        //     width 100%
        //     background-image repeating-linear-gradient(white 0px, white 24px, steelblue 25px)
                
        .text 
            position absolute
            top 45px
            @media phone
                top 30px
            left 55px
            bottom 10px
            right 10px
            line-height 25px
            overflow hidden
            outline none
            font-family monospace
            font-size x-large
            @media phone
                font-size medium
        .holes 
            position absolute
            left 10px
            height 25px
            width 25px
            background lightgoldenrodyellow
            border-radius 50%
            box-shadow inset 0px 0px 2px 0px #888
        .hole-top 
            top 10%
                
        .hole-middle 
            top 50%
            
        .hole-bottom 
            bottom 10%
                
.capek, .hanlon-childbirth
    figure
        margin 0 0 0.5rem 1rem
        width 45%
        float right
        @media phone
            margin 0 0 0rem 1rem
            width 55%

.hanlon-childbirth
    figure
        float left
        margin 0 1rem 0.5rem 0rem
        @media phone
            margin 0 1rem 0rem 0

// #more-stories
//     position relative
//     audio 
//         margin 2rem 0
//         width 95%
//     h2 
//         margin 0 0 2rem
//         text-align center
//         @media phone
//             text-align left
//         font-size 40px
//     .story__container
//         display none
//         &.active
//             display block
//         h3
//             @media phone
//                 margin-top 0
//         figure
//             margin 0
//         &__content
//             display flex
//             justify-content space-between
//             @media phone
//                 flex-direction column
//             &__text__holder
//                 padding 1rem 0
//                 width 40%
//                 @media phone
//                     width 95%
//                 p 
//                     margin 0
                
//             &__image__holder
//                 width 50%
//                 @media phone
//                     width 95%
//         &#quintett, &#olive, &#jordan
//             .story__container__content
//                 @media phone
//                     flex-direction column-reverse
    
//     .button__container
//         position absolute
//         top 35vh
//         transform translateX(-50%)
//         left 50%
//         z-index 100
//         display flex
//         justify-content space-between
//         padding 0.5rem 0 0.25rem 0
//         width 130%
//         @media phone
//             width 120%
//         .button__previous, .button__next
//             // border 1px solid $black
//             // border-radius 3px
//         // .button__next
//         //     border-top 1px solid $black
//         //     border-right 1px solid $black
//         //     border-bottom 1px solid $black
//         button 
//             display flex
//             align-content center
//             justify-content center
//             flex-basis 5%
//             font-size 2rem
//             color $black
//             height 55px
//             // flex-basis 10%
//             background $white
//             .icon
//                 position relative
//                 margin auto
//                 width 20px
//                 height 0.8px
//                 // background $black
//             .arrow-left
//                 &::before 
//                     content ''
//                     position absolute
//                     left 6px
//                     top -6px
//                     width 20px
//                     height 20px
//                     border-top 3px solid $black
//                     border-right 3px solid $black
//                     border-radius 3px
//                     transform rotate(-135deg)
//             .arrow-right
//                 &::before 
//                     content ''
//                     position absolute
//                     right 6px
//                     top -6px
//                     width 20px
//                     height 20px
//                     border-top 3px solid $black
//                     border-right 3px solid $black
//                     border-radius 3px
//                     transform rotate(45deg)
      
