<section class='authors'>
    <ul>
        <li>
            A project by <a href='https://sabrinamochi.github.io/'>Szu Yu Chen</a>, Sofia Perez and Ryan Corbin. Edited by <a href='https://www.danzedek.com/'>Dan Zedek</a>. 
        </li>
        <li>
            Study details of <a href='https://hope.ucsf.edu/study-details-hope-covid-19'>HOPE COIVD-19 Study</a>
        </li>
        <li>
            <a href='https://bostonpregnancychoices.org/'>Boston Center for Pregnancy Choice</a>
        </li>
        <li>
            <a href='https://www.brookings.edu/blog/up-front/2020/12/17/the-coming-covid-19-baby-bust-update/'>The Brookings Institute Report</a>
        </li>
        <li>
            <a href='https://www.ajmc.com/view/racial-disparities-persist-in-maternal-morbidity-mortality-and-infant-health'>AJMC Racial Disparities in Maternal Mortality</a>
        </li>
    </ul>
</section>