<footer class='footer'>
    <p style="text-align: center; padding:30px 0; font-family:'Helvetica'">Produced by students of the Media Innovation
        masters' program at the <a href="https://camd.northeastern.edu/journalism-at-northeastern/"
            style="text-decoration: underline">Northeastern University School of Journalism.</a> &#169; 2021</p>
    <h5 style="border-top: none; margin-top: -2%; text-align: center"><img
            src="https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/images/seal_logotype-768x252.png"
            width="300px"></h5>
</footer>