<header>
   <!---------------------------- Hamburger menu –––––––––––––––––––––––––––––––––––– -->
    <nav role="navigation" class="essential-nav">
    <div id="menuToggle">
        <!--
        A fake / hidden checkbox is used as click reciever,
        so you can use the :checked selector on it.
        -->
        <input type="checkbox"/>
        <!--
        Some spans to act as a hamburger.
        -->
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
        <a href="https://yuriko-schumacher.github.io/love-in-the-covid/"><li>Swipes Over Swabs</li></a>
        <a href="https://sabrinamochi.github.io/pregnancy-during-the-pandemic/index.html"><li>Pregnancy During the Pandemic</li></a>
        <a href="https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/love-during-the-loneliness-virus/index.html"><li>Love During the &ldquo;Loneliness Virus&rdquo;</li></a>
        </ul>
    </div>
        <a href="https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/index.html" class="heroimage" id="heroimagestart">
            <div style="width:50%; margin: -20px auto 0 auto; height:50px"></div>
        </a>
    </nav>
</header>