<div class='intro'>
	<div class='intro__social'>
        <!-- Social media buttons -->
        <a href="https://www.facebook.com/share.php?u=https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/szuyuchen&title=pregnancy-during-the-pandemic"
            target="blank" style="border-bottom: solid 0 white; margin-right: 10px"><i class="fa fa-facebook"></i></a>
        <!-- twitter -->
        <a href="https://twitter.com/intent/tweet?status=pregnancy-during-the-pandemic via @NUjournalism Media Innovation program @CAMD+ https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/szuyuchen"
            target="blank" style="border-bottom: solid 0 white"><i class="fa fa-twitter"></i></a>
    </div>

	{{!-- <p class='intro__byline'>By
		<a href='{{meta.author.url}}' target='_blank'>
			<strong>{{meta.author.name}}</strong>
		</a>, Sofia Perez, Ryan Corbin
	</p> --}}
	{{!-- <time class='intro__time'>Month 2020</time> --}}
</div>