<div class='tab-button-container'>
    <button class='infection-button'><span class='button-border'></span><span class='button-text'>infection</span></button>
    <button class='isolation-button'><span class='button-border'></span><span class='button-text'>isolation</span></button>
    <button class='insecurity-button'><span class='button-border'></span><span class='button-text'>insecurity</span></button>
    <button class='inequality-button'><span class='button-border'></span><span class='button-text'>inequality</span></button>
</div>