<div class='tab-button-container'>
        <button class='infection-button'>infection</button>
        <button class='isolation-button'>isolation</button>
        <button class='unexpectation-button'>unexpectation</button>
        <button class='inequality-button'>inequality</button>
    </div>