<div class='tab-button-container'>
        <button class='infection-button'><span>infection</span></button>
        <button class='isolation-button'><span>isolation</span></button>
        <button class='insecurity-button'><span>insecurity</span></button>
        <button class='inequality-button'><span>inequality</span></button>
    </div>