<section class='capek main-column-width'>
    {{> story/buttons}}
    <h1>Isolation</h1>
    <article>
        {{#each doc.capek}}
        <div>
            <p>
                {{value}}
            </p>
        </div>
        {{/each}}
    </article>
</section>