<section class='dashanna main-column-width'>
    <figure>
        <img src='assets/images/dashanna.jpeg'>
        <p class='credit'>Hanlon holding a baby. Photo credit to <a style='color:#949494; border-bottom: 0.01px solid #949494' href='https://caringformamas.com/'>Dashanna Hanlon</a></p>
    </figure>
    <article>
        {{#each doc.dashanna}}
            <div>
                <p>
                    {{value}}
                </p>
            </div>
        {{/each}}
    </article>    
</section>