<section class='deavers-heartbeat'>
    <h2>{{doc.birthing-partner-title}}</h2>
    <article>
        {{#each doc.deavers-heartbeat1}}
        <div>
            <p>
                {{value}}
            </p>
        </div>
        {{/each}}
        <figure>
            <img src='./assets/images/final-olive-and-husband-ultrasound.jpg'>
            <p class='credit'>Olive Deavers and her husband. Photo credit to Olive Deavers</p>
        </figure>
    </article>
    <div class='audio-container'>
        <div class='audio-text'>
            <h3>
                Listen to how Deavers mimicked their baby's heartbeat
            </h3>
        </div>
        <audio controls>
            <source src="assets/audios/olive-heartbeat-final.mp3" type="audio/mpeg">
            Your browser does not support the audio tag.
        </audio>
    </div>
    <article>
        {{#each doc.deavers-heartbeat2}}
        <div>
            <p>
                {{value}}
            </p>
        </div>
        {{/each}}
    </article>
</section>