<section class='deavers main-column-width'>
    <article>
        {{#each doc.deavers-heartbeat}}
        <div>
            <p>
                {{value}}
            </p>
        </div>
        {{/each}}
    </article>
</section>