<section class='ending main-column-width'>
    <article>
        {{#each doc.ending}}
        <div>
            <p>
                {{value}}
            </p>
        </div>
        {{/each}}
    </article>
</section>