<section class='hanlon-mixbags'>
    <article>
        {{#each doc.hanlon-mixbags}}
        <div>
            <p>
                {{value}}
            </p>
        </div>
        {{/each}}
    </article>
</section>