<section class='hanlon-childbirth'>
    <article>
        {{#each doc.hanlon-difficult-childbirth}}
        <div>
            <p>
                {{value}}
            </p>
        </div>
        {{/each}}
        
    </article>
</section>