<section class='hanlon-childbirth'>
    <article>
        {{#each doc.hanlon-difficult-childbirth}}
        <div>
            <p>
                {{value}}
            </p>
        </div>
        {{/each}}
        
    </article>
    <figure>
            <img src='./assets/images/final-olive-and-husband-ultrasound.jpg'>
            <p class='credit'>Olive Deavers and her husband. Photo credit to Olive Deavers</p>
        </figure>
</section>