<section class='hanlon-mixbags'>
    <article>
        <figure>
            <img src="assets/images/dashanna.jpeg">
            <p class='credit'>Dashanna Hanlon holding a baby. Photo credit to Dashanna Hanlon</p>
        </figure>
        {{#each doc.hanlon-mixbags1}}
        <div>
            <p>
                {{value}}
            </p>
        </div>
        {{/each}}
        {{#each doc.hanlon-mixbags2}}
        <div>
            <p>
                {{value}}
            </p>
        </div>
        {{/each}}
    </article>
</section>