<section class='hanlon main-column-width'>
    <article>
        {{#each doc.hanlon-difficult-childbirth}}
        <div>
            <p>
                {{value}}
            </p>
        </div>
        {{/each}}
    </article>
</section>