<div class='tab' id='inequality'>
    <div class='cover-photo'>
        <img src='assets/images/empty-playground.jpg'>
    </div>
    {{> story/inequality-opening}}
    {{> story/quintett-racism}}
</div>