<section class='inequality-opening'>
    <article>
        {{#each doc.inequality-opening}}
        <div>
            <p>
                {{value}}
            </p>
        </div>
        {{/each}}
    </article>
</section>