<section class='inequality-opening main-column-width'>
    {{> story/buttons}}
    <h1>Fear of Inequality</h1>
    <article>
        {{#each doc.inequality-opening}}
        <div>
            <p>
                {{value}}
            </p>
        </div>
        {{/each}}
    </article>
</section>