<div class='tab' id='infection'>
    <div class='cover-photo'>
        <img src='assets/images/belly-cover-photo.jpg'>
    </div>
    {{> story/murray}}
    {{> story/hope-covid}}
    {{> story/reddit}}
    {{> story/quintett}}
</div>