<div class='opening aurora'>
	<div class='opening__text__container'>
		<h1>{{doc.hed}}</h1>
		<div class='opening__text__container__text'>
			<p>{{doc.intro}}</p>
		</div>
		<button id='start-button'>Start</button>
		<div class='sound-on-text'>
			<p>
				This website uses sound. Please activate your speakers or headphones
			</p>
		</div>
	</div>
</div>
<div class='opening__video__container'>
	<video class='opening__video__container__video'>
		 <source type="video/mp4">
  		Your browser does not support the video tag.
	</video>
	<button id='skip-button'>Skip the intro</button>
</div>