<div class='tab' id='isolation'>
    <div class='cover-photo'>
        <img src='assets/images/ultrasound-illustration.png'>
    </div>
    {{> story/capek}}
    {{> story/hanlon-childbirth}}
    {{> story/deavers-heartbeat}}
</div>