<section class='less-baby main-column-width'>
    <article>
        {{#each doc.less-baby}}
            <div>
                <p>
                    {{value}}
                </p>
            </div>
        {{/each}}
    </article>
</section>