<section class='main-column-width' id='less-baby'>
    <article>
        {{#each doc.less-baby}}
            <div>
                <p>
                    {{value}}
                </p>
            </div>
        {{/each}}
    </article>
    <div class='birth-rates-chart'>
        <h3>Birth Counts</h3>
        <svg>
            <g class='vis'></g>
        </svg>
    </div>
    <article>
        {{#each doc.molly}}
            <div>
                <p>
                    {{value}}
                </p>
            </div>
        {{/each}}
    </article>
     <figure>
        <img src='./assets/images/pink-chair.jpg'>
    </figure>
    <article>
        {{#each doc.experts-view-unemployment}}
            <div>
                <p>
                    {{value}}
                </p>
            </div>
        {{/each}}
    </article>
</section>