<section class='murray'>
    <article>
        {{#each doc.murray}}
            <div class='main-column-width'>
                <p>
                    {{value}}
                </p>
            </div>
        {{/each}}
    </article>
</section>