<section class='murray main-column-width'>
    <article>
        {{#each doc.murray}}
            <div>
                <p>
                    {{value}}
                </p>
            </div>
        {{/each}}
    </article>
</section>