<section class='murray main-column-width'>
    <article>
        {{#each doc.murray-part1}}
            <div>
                <p>
                    {{value}}
                </p>
            </div>
        {{/each}}
    </article>
    <figure>
        <img src='./assets/images/mom-kids.jpg'>
    </figure>
    <article>
        {{#each doc.murray-part2}}
            <div>
                <p>
                    {{value}}
                </p>
            </div>
        {{/each}}
    </article>
</section>