<section class='olive-racism main-column-width'>
    <figure>
        <img src="assets/images/olive-husband-look-each-other.jpg">
        <p class='credit'>Deavers and her husband. Photo credit to Olive Deavers</p>
    </figure>
    <article>
        {{#each doc.olive-racism}}
        <div>
            <p>
                {{value}}
            </p>
        </div>
        {{/each}}
    </article>
    <div class='paper'>
        <div class='lines'>
            <div class='text'>
                Deavers' Ultimate Goal:</br></br>
                Use preventative measures to reduce 
                maternal mortality. </br></br>
                Husband must be in the delivery room. If I’m unable to make choice, defer to him.
            </div>
            <div class="holes hole-top"></div>
            <div class="holes hole-middle"></div>
            <div class="holes hole-bottom"></div>
        </div>
    </div>
</section>