<section class='olive main-column-width'>
    <article>
        {{#each doc.olive}}
        <div>
            <p>
                {{value}}
            </p>
        </div>
        {{/each}}
    </article>
    <div class='paper'>
        <div class='lines'>
            <div class='text'>
                Ultimate Goal:</br>
                Use preventative measures to reduce 
                maternal mortality - severe bleeding/hemorrhaging, cardiovascular events/eclampsia, infection/sepsis, or embolisms, etc. </br></br>
                Husband must be in the delivery room. If I’m unable to make choice, defer to him.
            </div>
            <div class="holes hole-top"></div>
            <div class="holes hole-middle"></div>
            <div class="holes hole-bottom"></div>
        </div>
    </div>
</section>