<section class='overview'>
    <article>
        {{#each doc.pregnancy-overall}}
            <div class='main-column-width'>
                <p>
                    {{value}}
                </p>
            </div>
        {{/each}}
    </article>
    <figure class='overview__img'>
        <img src='assets/images/ultrasound-illustration.png'>
    </figure>
</section>