<section class='overview main-column-width'>
    <article>
        <div>
            {{#each doc.pregnancy-overall}}
                <p>
                    {{value}}
                </p>
            {{/each}}
        </div>
    </article>
    <figure class='overview__img'>
        <img src='assets/images/ultrasound-illustration.png'>
    </figure>
</section>