<section class='overview main-column-width'>
    <div class='infection-button'>Infection</div>
    <div class='isolation-button'>Isolation</div>
    <div class='unexpectation-button'>Unexpectation</div>
    <div class='inequality-button'>Inequality</div>
</section>