<section class='overview main-column-width aurora'>
    <div class='infection-button' id ='overview-infection-button' onclick="location.href='infection.html';">
        <span>chapter 1</span>
        <p>Infection</p>
    </div>
    <div class='isolation-button' onclick="location.href='isolation.html';">
        <span>chapter 2</span>
        <p>Isolation</p>
    </div>
    <div class='insecurity-button' onclick="location.href='insecurity.html';">
        <span>chapter 3</span>
        <p>Insecurity</p>
    </div>
    <div class='inequality-button' onclick="location.href='inequality.html';">
        <span>chapter 4</span>
        <p>Inequality</p>
    </div>
</section>