<section class='quintett'>
    <div>
        <p>
            {{doc.not-fully-capture}}
        </p>
    </div>
    <h2> It’s the little details that stress you out.
    </h2>
    <article>
        {{#each doc.quintett}}
        <div>
            <p>
                {{value}}
            </p>
        </div>
        {{/each}}
    </article>
</section>