<section class='quintett-racism'>
    <article>
        {{#each doc.quintett-racism}}
        <div>
            <p>
                {{value}}
            </p>
        </div>
        {{/each}}
    </article>
</section>