<section class='quintett-racism main-column-width'>
    <article>
        {{#each doc.quintett-racism}}
        <div>
            <p>
                {{value}}
            </p>
        </div>
        {{/each}}
    </article>
</section>