<section class='main-column-width' id='reddit'>
    <div class='reddit__container'>
        <div class='scroll__graphic'>
            <h3>Sentiment of r/Pregnant Posts</h3>
            <svg>
                <g class='vis'>
                    <g id='sentiment'></g>
                    <g id='number'></g>
                </g>
                <g class='axis x-axis'></g>
                <g class='axis y-axis'></g>
            </svg>
        </div>
        <div class='tooltip'>
            <div class='text'>
                <h4 class='date'></h4>
                <div class='text-container'>
                    <div>
                        <p id='avg-sentiment'></p>
                        <p>Average Sentiment</p>
                    </div>
                    <div>
                        <p id='num-of-posts'></p>
                        <p>Number of Posts</p>
                    </div>
                </div>
            </div>
            <div class='chart'>
                <h4>Top Words</h4>
                <div class='bars'></div>
            </div>
        </div>
        <div class='scroll__text'>
        </div>
    </div>
</section>